.card{
    .br;
    background-color: @bg-secondary;
    padding: clamp(11px, 22vw * @px2vw, 22px) clamp(10px, 20vw * @px2vw, 20px);

    &__img{
        width: clamp(150px, 492vw * @px2vw, 492px);
        height: clamp(120px, 390vw * @px2vw, 390px);
    }

    img{
        .br;
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        opacity: 0.9;
        object-fit: cover;
    }

    p{
        .font-36;
        .font-futura;
    }

    &--meeting{
        .font-futura;
        .font-16;

        .card__img{
            position: relative;
        }

        .card__badge{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            position: absolute;
            top: clamp(9px, 21vw * @px2vw, 21px);
            right: clamp(9px, 21vw * @px2vw, 21px);
            z-index: 1;
       
            &__date,
            &__hour{
                background-color: white;
                color: @text-color;
                .fw-book;
                padding: clamp(5px, 10vw * @px2vw, 10px) clamp(6px, 12vw * @px2vw, 12px);
            }
        }
    }

    &--news{

    }
}