.explain-block{
    .container-s;
    .m-auto;
    .mb-200;

    p{
        columns: 2;
        height: clamp(150px, 224vw * @px2vw, 224px);
        column-gap: clamp(15px, 37vw * @px2vw, 37px);
        .font-futura;
        margin-bottom: 6em;
        padding: 0 1em;
        .fw-book;
    }

    img{
        .br;
    }
}