.footer {
    .container-l;
    .m-auto;
    .font-futura;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: clamp(25px, 90vw * @px2vw, 90px) 0;
    background: @footer-bg;
    color: @text-color;
    border-top: 1px solid @text-secondary;

    .menu{
        .fw-light;
        display: grid;
        grid-template-columns: 1fr;
    }

    &__type{
        text-transform: uppercase;
        margin-bottom: clamp(10px, 19vw * @px2vw, 19px);
    }

    &__infos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: clamp(18px, 58vw * @px2vw, 58px);
    }

    a{
        color: inherit;
    }

    &__social{
        .menu{
            gap: 6px;
        }
    }

    &__logo{
        width: clamp(150px, 338vw * @px2vw, 338px);
        margin: auto;
    }

    &__legal{
        .fw-book;
        .menu{
            gap: 12px;
        }
    }
    
    &__menu{
        justify-items: end;
        .menu{
            width: clamp(150px, 310vw * @px2vw, 310px);
            grid-template-columns: repeat(3, 1fr);
            gap: clamp(6px, 12vw * @px2vw, 12px);;
        }
    }

}
