.img-text{
    .mb-200;
    .container-l;
    .m-auto;
    display: grid;
    grid-template-columns: clamp(350px, 600vw * @px2vw, 600px) 2fr;
    gap: clamp(50px, 156vw * @px2vw, 156px);

    &__img{
        .br;
        overflow: hidden;
        position: relative;

        &__content{
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
        }
    }

    &__aide{
        position: absolute;
        width: clamp(200px, 408vw * @px2vw, 408px);
        bottom: clamp(17px, 60vw * @px2vw, 60px);
        left: 50%;
        transform: translateX(-50%);
    }

    &__text{
        &__mini-title{
            margin-bottom: 0.8em;
        }

        h1{
            .font-70;
            margin-bottom: 1em;
        }

        p{
            .font-futura;
        }
    }
}

.invert{
    grid-template-columns: 2fr clamp(350px, 600vw * @px2vw, 600px);

    .img-text__img{
        order: 1;
    }
}