.simple-cards{
    .container-m;
    .m-auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: clamp(20px, 30vw * @px2vw, 30px);
    .font-futura;

    &__card{
        height: clamp(200px, 465vw * @px2vw, 465px);
        background-color: @box-bg;
        padding: clamp(22px, 68vw * @px2vw, 68px) clamp(13px, 41vw * @px2vw, 41px);
        .br;
        text-align: center;

        p{
            .font-32;
        }

        svg{
            .m-auto;
            width: clamp(33px, 66vw * @px2vw, 66px);
            margin-bottom: clamp(20px, 66vw * @px2vw, 66px);
        }
    }

    &__title{
        text-transform: uppercase;
        .fw-medium;
        margin-bottom: 2.5em;
    }
}